{% for i in (1..5) %}
<div class="all-fifth onboard-instagram">
  {% capture current %}{{ forloop.index }}{% endcapture %}
  {%- assign placeholder = 'product-' | append: current -%}
  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
</div>
{% endfor %}