{% if section.settings.show_css_grid_section == true %}
  <hr>
  <style>
    .grid-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows:  2fr 1fr;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      margin: 1em;
      background-color: white;
    }

    .grid-number {
      background-color: #5C6AC4;
      display: grid;
      justify-content: center;
      padding: 20px;
      font-size: 70px;
      color: white;
      line-height: 1;
      border-radius: 5px;
    }
  </style>

  <div class="grid-wrapper">
    <div class="grid-number">
      1
    </div>
    <div class="grid-number">
      2
    </div>
    <div class="grid-number">
      3
    </div>
    <div class="grid-number">
      4
    </div>
  </div>

{% endif %}

{% schema %}
  {
    "name": "CSS-Grid",
    "settings": [

    {
      "type": "checkbox",
      "id": "show_css_grid_section",
      "label": "Show CSS Grid",
      "default": false
    }
],
	"presets": [
    {
       "name": "CSS Grid Test",
       "category": "CSS Grid Test"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
