{% if section.settings.show_slate_grid_section == true %}
  <hr>
  <style>
    .test_slate_grid .grid__item {
      background-color: #a2d1fa;
      border: 2px solid navy;
      font-size: 2rem;
    }

    .vic_test .grid__item{
      background-color: pink; font-size: 2rem;
      border: 2px solid red;
    }
  </style>
  <hr>

  <div class=" vic_test  grid grid--no-gutters ">

    <div class="grid__item medium-up--two-twelfths   small--one-third">
      side two-twelfth
    </div>
    <div class="grid__item medium-up--eight-twelfths small--one-third">
      Title
    </div>
    <div class="grid__item medium-up--two-twelfths   small--one-third">
      side two-twelfth
    </div>

  </div>


  <hr>
  <div class="grid grid--no-gutters test_slate_grid">

    <div class="grid grid--no-gutters vic_test">
      <div class="grid__item medium-up--one-quarter small--one-half">
        1/4
      </div>
      <div class="grid__item medium-up--one-quarter small--one-half">
        1/4
      </div>
      <div class="grid__item medium-up--one-third small--one-half">
        1/3
      </div>
      <div class="grid__item medium-up--one-sixth one-whole">
        1/6
      </div>
    </div>



    <div class="grid__item">
      1
    </div>

    <div class="grid__item">
      <div class="grid">
        <div class="grid__item medium-up--one-half">
          2.1
        </div>
        <div class="grid__item medium-up--one-quarter">
          2.2
        </div>
        <div class="grid__item medium-up--one-quarter">
          2.3
        </div>
        <div class="grid__item medium-up--one-third">
          2.4
        </div>
        <div class="grid__item medium-up--one-third small--one-half">
          2.5
        </div>
        <div class="grid__item medium-up--one-third small--one-half">
          2.6
        </div>
      </div>
    </div>
    <div class="grid__item">
      <div class="grid">
        <div class="grid__item medium-up--one-twelfth one-sixth small--one-third">
          3.1
        </div>
        <div class="grid__item medium-up--one-twelfth one-sixth small--one-third">
          3.2
        </div>
        <div class="grid__item medium-up--one-twelfth one-sixth small--one-third">
          3.3
        </div>
        <div class="grid__item medium-up--one-twelfth one-sixth small--one-third">
          3.4
        </div>
        <div class="grid__item medium-up--one-twelfth one-sixth small--one-third">
          3.5
        </div>
        <div class="grid__item medium-up--one-twelfth one-sixth small--one-third">
          3.6
        </div>
        <div class="grid__item medium-up--one-half one-whole">
          3.7
        </div>
      </div>
    </div>

    <div class="grid--no-gutters">
      <div class="grid__item medium-up--one-quarter ">
        1
      </div>
      <div class="grid__item medium-up--one-quarter ">
        2
      </div>
      <div class="grid__item medium-up--one-quarter ">
        3
      </div>
      <div class="grid__item medium-up--one-quarter ">
        4
      </div>
    </div>

    <div class="grid grid--no-gutters">
      <div class="grid__item medium-up--one-quarter medium-up--push-one-third">
        1.0
      </div>
      <div class="grid__item medium-up--one-twelfth medium-up--push-one-half">
        2.0
      </div>
    </div>



  </div>

<div style="height:100vh"></div>
{% endif %}

{% schema %}
  {
    "name": "v Slate Grid test",
    "settings": [

    {
      "type": "checkbox",
      "id": "show_slate_grid_section",
      "label": "Show Slate Grid",
      "default": true
    }
],
	"presets": [
    {
       "name": "v_grid_slate",
       "category": "vicmod"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
