<div id = "section-cta">
  <div class="container">
    <h3> {{ section.settings.text-box }} </h3>
    <a href =" {{ section.settings.link }} " 
       class="btn btn--cta" >
      {{ section.settings.linktext }}
    </a>
  </div>
</div>


{% schema %}
 

  {
    "name":"vic call to action",
    "settings":[
      {
        "id":"text-box",
        "type":"text",
        "label":"Heading",
        "default":"Title"
      },
      {
        "id":"link",
        "type":"url",
        "label":"Button Link"
      },
      {
        "id":"linktext",
        "type":"text",
        "label":"Button text",
        "default":"click here"      
      }    
    ],
    "presets":[
      {
        "name":"vic call to action",
        "category":"vicmod"
      }  
    ]
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
